<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.ledger.demolib">
	<uses-feature android:name="android.hardware.usb.host" android:required="false"/>
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <!-- BLE communication -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Management library -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="Ledger Demo Library">
        <activity android:name="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
	</intent-filter>
<!--
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
		android:resource="@xml/device_filter" />            
-->
        </activity>
    </application>
</manifest>

